* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
}

header, main, footer {
  width: 80%;
  margin: 0 auto;
}

footer {
  margin-top: -15px;
  margin-bottom: 20px;
}

/* Grid system */

div.row {
  margin-top: 20px;
}

/* clear fix */

div.row::after {
  content: '';
  display: table;
  clear: both;
}

/* end clearfix */

div.row > div[class^="col-"] {
  float: left;
}

div.row > div.col-100 {
  width: 100%;
}

div.row > div.col-50 {
  width: 50%;
  padding: 0 15px;
}

div.row > div.col-25 {
  width: 25%;
}

/* header content*/

img#logo {
  width: 130px;
}

nav {
  margin-top: 20px;
}

nav ul {
  display: inline-block;
}

nav ul > li {
  list-style: none;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 8px;
}

nav ul > li:first-child {
  margin-left: 0;
}

nav ul > li > a {
  color: #948f8f;
  text-decoration: none;
}

nav ul > li > a:hover {
  color: #000000;
}

/* main content */

div#top-banner {
  height: 320px;
  background: url(../img/banner.jpg) no-repeat center ;
  background-size: cover;
  border: 1px solid #DFD5D2;
  border-radius: 5px;
}

div#top-banner > div.overlay {
  height: 320px;
  background: rgba(0,0,0,0.3);
}

div#top-banner > div.overlay > section {
  width: 450px;
  color: #FFF;
  padding-top: 200px;
  padding-left: 50px;
}

div#top-banner > div.overlay > section > p:first-child {
  font-size: 1.35em;
}

div#top-banner > div.overlay > section > p {
  font-size: 0.8em;
}

main > div.row:nth-child(2) {
  background: #0087FF;
}

main > div.row:nth-child(2) > div.col-100 > div.row > div.col-100 > div {
  height: 60px;
  background: #ABCFE7;
}

main > div.row:nth-child(2) > div.col-100 > div.row:nth-child(2) > div.col-25 > div,
main > div.row:nth-child(2) > div.col-100 > div.row:nth-child(2) > div.col-50 > div  {
  height: 400px;
  background: #ABCFE7;
}

div.no-margin {
  margin: 0;
}

div.p-b20 {
  padding-bottom: 20px;
}

/* footer content */

footer > div.row > div.col-100 > div {
  height: 45px;
  background: #8801FE;
}
